:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scrollbar-gutter: stable;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scrollbar-gutter: stable;
}

router-outlet ~ * {
  margin-top: auto;
}
