<div class="form-input" style="opacity: 1; visibility: visible;">
  <div class="form-input__label-container">
    <label [for]="inputId" class="form-input__label">
      {{ label }}
      <span class="form-input__required" *ngIf="control?.hasError('required') && !control?.value">*</span>
    </label>
    <div class="form-input__status">
      <span class="form-input__success" title="Válido" *ngIf="isValid && control?.value">✓</span>
      <span class="form-input__error-icon" title="Error" *ngIf="isInvalid && control?.value">✕</span>
    </div>
  </div>
  
  <input
    [id]="inputId"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="formControl"
    class="form-input__field"
    [class.form-input__field--error]="isInvalid && control?.value"
    [class.form-input__field--valid]="isValid && control?.value"
    style="opacity: 1; visibility: visible;">
  
  <span class="form-input__error-message" role="alert" *ngIf="isInvalid && control?.value">
    {{ errorMessage }}
  </span>
</div>
