<div class="form-input">
  <label [for]="inputId" class="form-input__label">
    {{ label }}
    @if (control?.hasError('required') && control?.touched) {
      <span class="form-input__required">*</span>
    }
  </label>
  
  <input
    [id]="inputId"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control!"
    class="form-input__field"
    [class.form-input__field--invalid]="isInvalid"
    [class.form-input__field--valid]="control?.valid && control?.touched && !isInvalid">
  
  @if (isInvalid) {
    <span class="form-input__error" role="alert">
      {{ errorMessage }}
    </span>
  }
  
  @if (control?.valid && control?.touched && !isInvalid) {
    <span class="form-input__success">✓</span>
  }
</div>
