.notes__grid {
  display: grid;
  gap: var(--spacing-4);
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: var(--breakpoint-tablet)) {
  .notes__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: var(--breakpoint-mobile)) {
  .notes__grid {
    grid-template-columns: 1fr;
  }
}
