.note__card__content{
  font-size: var(--font-size-small);
  color: var(--text-secondary);
  line-height: var(--line-height-normal);
  overflow: hidden;
  border: solid 1px var(--support-color-2);
  background-color: var(--support-color-1);
}

.note__card__label{
  font-weight: var(--font-weight-bold);
  margin-right: var(--spacing-1);
}

.note__card__footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2);
  padding-top: var(--spacing-2);
}