:root {
  /* Colores de fondo - Light Mode */
  --bg-primary: #FFFFFF;
  --bg-secondary: #F1F3F5;
  
  /* Colores de texto - Light Mode */
  --text-primary: #0F7CA0;
  --text-secondary: #6C757D;
  
  /* Colores de borde - Light Mode */
  --border-primary: #DEE2E6;
}

/* Tema oscuro */
.dark-mode {
  /* Colores de fondo - Dark Mode */
  --bg-primary: #1A1A1A;
  --bg-secondary: #2D2D2D;
  
  /* Colores de texto - Dark Mode */
  --text-primary: #E0E0E0;
  --text-secondary: #A0A0A0;
  
  /* Colores de borde - Dark Mode */
  --border-primary: #404040;
}


