/* Base element styles without classes */
body {
  font-family: var(--font-tertiary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
  background-color: var(--font-primary-disabled);
}

h1 { 
  font-family: var(--font-primary); 
  font-weight: var(--font-weight-bold); 
  font-size: var(--font-size-tittle-h1); 
}
h2 { 
  font-family: var(--font-primary); 
  font-weight: var(--font-weight-semibold); 
  font-size: var(--font-size-tittle-h2); 
}
h3 { 
  font-family: var(--font-secondary); 
  font-weight: var(--font-weight-semibold); 
  font-size: var(--font-size-tittle-h3); 
}
h4 { 
  font-family: var(--font-secondary); 
  font-weight: var(--font-weight-medium); 
  font-size: var(--font-size-tittle-h4); 
}
h5 { 
  font-family: var(--font-tertiary); 
  font-weight: var(--font-weight-medium); 
  font-size: var(--font-size-medium); 
}
h6 { 
  font-family: var(--font-tertiary); 
  font-weight: var(--font-weight-medium); 
  font-size: var(--font-size-small); 
}

p { 
  font-size: var(--font-size-small); 
  margin-bottom: var(--spacing-4); 
}
small { 
  font-size: var(--font-size-extra-small); 
}