<div class="documents-widget">
  <div class="documents-widget__header">
    <h3 class="documents-widget__title">
      <img src="assets/icons/sidebar/documents.svg" alt="Documentos" class="documents-widget__icon">
      Documentos
    </h3>
    <span class="documents-widget__badge">{{ totalCompleted }}/{{ documents.length }}</span>
  </div>

  <ul class="documents-widget__list">
    <li
      *ngFor="let doc of documents"
      class="documents-widget__item"
      [class.documents-widget__item--complete]="doc.isComplete"
    >
      <span class="documents-widget__checkbox">
        {{ doc.isComplete ? '✅' : '❌' }}
      </span>
      <span class="documents-widget__name">{{ doc.name }}</span>
      <span class="documents-widget__count">{{ doc.count }}</span>

      <a
        *ngIf="!doc.isComplete"
        href="#"
        class="documents-widget__upload-link"
        (click)="uploadFile($event, doc)"
      >
        Subir archivo
      </a>
    </li>
  </ul>

  <div class="documents-widget__upload-area">
    <p>📤 Sube aquí el archivo o haz click para subirlo</p>
  </div>
</div>
