name: CI con AutoCommit

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write


jobs:
  test-and-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Instalar Maven
        run: sudo apt-get update && sudo apt-get install -y maven

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Ejecutar tests
        run: mvn -f backend/pom.xml test

      - name: Actualizar README.md
        working-directory: backend
        run: python update_readme.py

      - name: Generar Javadoc
        run: mvn -f backend/pom.xml javadoc:javadoc

      - name: Copiar documentaci칩n a docs/html
        run: |
          mkdir -p docs/html
          cp -r backend/target/site/apidocs/* docs/html/

      - name: Commit autom치tico del README.md y del report.md
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update README.md y report.md con estado de tests y documentaci칩n en Javadoc"
          file_pattern: README.md backend/report.md docs/html/**
          branch: main
      
      - name: Lanzar GitHub Pages
        uses: Cecilapp/GitHub-Pages-deploy@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          email: aborcru560@g.educaand.es 
          build_dir: docs
          branch: gh-pages
          commit_message: "Deploy Javadoc HTML"

      - name: Instalar wkhtmltopdf
        run: sudo apt-get install -y wkhtmltopdf

      - name: Generar documentaci칩n en PDF
        run: wkhtmltopdf backend/target/site/apidocs/index.html backend/target/site/javadoc.pdf

      - name: Copiar PDF a docs/
        run: |
          mkdir -p docs
          cp backend/target/site/javadoc.pdf docs/
